.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1200px) {
        text-align: center;
    }
    background-color: #2F303A;
    &__container {
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
        }
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px 165px;
        }
    }
    &__item {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: calc((100% - 165px) / 2);
        }
    }
    &__address-container {
        margin-bottom: 60px;
        @media screen and (min-width: 768px) {
            // margin-right: 165px;
            margin-bottom: 0;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        } 
    }
    &__socials-container {
        margin-bottom: 60px;
        @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }
    &__subscription-container {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            width: 450px;
        }
    }

    &__logo {
        display: block;
        margin-bottom: 20px;
        &--white {
            color: #ffffff;
        }
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
    }
    &__subscription {
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 9px;
        }
    }
    &__input {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;

        outline: none;
        background-color: transparent;
        color: inherit;
        @media screen and (min-width: 1200px) {
            width: 358px;
            margin-bottom: 0;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        @media screen and (max-width: 1200px ) {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__map {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__link {
    color: var(--additional-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.socials-list__link--darck {
    color: #ffffff;

    background-color: var(--footer-icon-bg-color);
}

.btn__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}